body{
font: normal small-caps 42px/30px fantasy;
}

.table-map{

    margin-top: 47px;
    margin-left: 68px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;

}
.player{
    color: green;
}
.table-map td{
    border: 1px double black;
}

.tetris{
    width: 700px;
    position: absolute;
    top: 0;
    left: 0;
}
.menu{
    font: normal small-caps 42px/30px fantasy;
    color: green;
    margin-top: 180px;
    margin-left: 210px;
    padding: 30px;
    width: 300px;
}
@-webkit-keyframes flicker {
  50% {background-size: 7px 7px, 3px 3px;}
  100% {background-size: 3px 3px, 7px 7px;}
}
@keyframes flicker {
  50% {background-size: 7px 7px, 3px 3px;}
  100% {background-size: 3px 3px, 7px 7px;}
}
.best {
  position: relative;
  font-weight: bold;
}
.best:before {
  content: "";
  position:absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px), radial-gradient(rgba(255,255,255,1) 1px, rgba(255,255,255,0) 1px);
  background-size: 3px 3px, 7px 7px;
  background-position: 0% 50%;
  -webkit-animation: flicker .5s linear infinite alternate;
  animation: flicker .5s linear infinite alternate;
  border-radius: 50%;
}
.buttonTop{
    top: 630px;
    left: 136px;
}
.buttonLeft{
    top: 675px;
    left: 92px;
}
.buttonRight{
    top: 675px;
    left: 177px;
}
.buttonDown{
    top: 717px;
    left: 136px;
}

.buttonA, .battle{
    top: 635px;
    left: 550px;
}

.buttonB {
    top: 669px;
    left: 477px;
}
.select{
    top: 661px;
    left: 273px;
}
.start {
    top: 662px;
    left: 349px;
}
.button{
    border-radius: 50%;
    position:absolute;
    width:52px;
    height:52px;
}
.button:hover{
    opacity:0.1;
}
.fixed{
    opacity: 0.5;
}
.info{
    position: absolute;
    top: 590px;
    left: 170px;
    font-size: 25px;
}
.info ul{
    list-style-type: none;
}
.info ul li{
    display: inline-block;
    padding-right: 25px;
}
.message{
    position: absolute;
    top: -25px;
    left: 140px;
}
