<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="/static/style.css" />
    <title>Worldmap</title>
</head>
<body>

<img src="../static/gamebo2.png" class="tetris" usemap="#menumap">

<div class="info">
    <ul>
        <li>Moviballs: {{ player.boll }}</li>
        <li>Monstre: {{ player.power }}/{{ player.allMonsters }}</li>
    </ul>
</div>

<form action="" method="GET">
    <input type="hidden" value="tryNotCry" name="val">
    <input class="button buttonA best fixed" type="submit" value="">
</form>

<form action="\moviedex" method="GET">
    <input type="hidden" value="start" name="val">
    <input class="button buttonB best fixed" type="submit" value="">
</form>

</body>
</html>
